*{
    margin: 0%;
    padding: 0%;
}
body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.grid-container {
    height: 100vh;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: auto;
    grid-template-rows: 5em 1fr 4em;

}
header {
    grid-area: header;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
main {
    grid-area: main;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
}
.stikers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
@media (max-width: 576px) {
    .stikers {
        flex-direction: column;
    }
}
.pack {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
img {
    width: 170px;
    border: 2px solid white;
    border-radius: 10px;
}
input {
    border:none;
    border-radius: 3px;
    color: brown;
}

footer {
    grid-area: footer;
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
